


/* ANIMACJA PIONOWEJ KRESKI */




.container-box-center{
    animation-duration: 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    animation-name: scaleborder;  
}

@keyframes scaleborder{
    0% {transform: scale(0);} 
    90% {transform: scale(1.03);}  
  100% {transform: scale(1.0)}; 
}







/* ANIMACJA WYRAZÓW NA GŁÓWNEJ STRONIE */






.txt-strony{
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    animation-name: image;
    
}

.txt-internetowe{
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    animation-name: image;  
}

.txt-materialy{
    animation-duration: 0.5s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    animation-name: image;  
}

.txt-graficzne{
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-name: image;  
}

.txt-dlainternetu{
    animation-duration: 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    animation-name: image;  
}

.txt-idruku{
    animation-duration: 0.5s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    animation-name: image;  
}

.txt-info{
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    animation-name: image;  
}



@keyframes image{
    0% {transform: translate(-2000px);}
    90% {transform: translate(5px);} 
  100% {transform: translate(0px);} 
}



/* ANIMACJA WYJSCIA NAPISÓW */



.oneout{
animation-duration: 0.5s;
animation-delay: 0.1s;
animation-fill-mode:forwards;
animation-name: imageout; 
}

.twoout{
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode:forwards;
    animation-name: imageout; 
    }
.treeout{
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        animation-fill-mode:forwards;
        animation-name: imageout; 
        }

 .fourout{
            animation-duration: 0.5s;
            animation-delay: 0.4s;
            animation-fill-mode:forwards;
            animation-name: imageout; 
            }

            .fiveout{
                animation-duration: 0.5s;
                animation-delay: 0.5s;
                animation-fill-mode:forwards;
                animation-name: imageout; 
                } 
                
                .sixout{
                    animation-duration: 0.5s;
                    animation-delay: 0.6s;
                    animation-fill-mode:forwards;
                    animation-name: imageout; 
                    }
                    .sevenout{
                        animation-duration: 0.5s;
                        animation-delay: 0.7s;
                        animation-fill-mode:forwards;
                        animation-name: imageout; 
                        }





@keyframes imageout{
    0% {transform: translate(0px);}
    90% {transform: translate(5px);} 
  100% {transform: translate(-500px);} 
}


/* ANIMACJA ZDJĘCIA TELEFONU */



    

.image{
    position:relative;
    top:5px;
    left:250px;
    z-index: 999;
    margin:50px -1400px 0px 0px;
    animation-duration: 9s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    animation-name: telefon; 
       
}



@keyframes telefon{
    0% {transform: translate(0px);}
    8% {transform: translate(-330px);}
    24% {transform: translate(-330px);}
     26% {transform: translate(-340px);} 
  32% {transform: translate(0px);} 
}


/* ANIMACJA ZDJĘCIA LAPTOPA */


.image2{
    position:relative;
    top:50px;
    left:1400px;
    animation-duration: 9s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    animation-name: laptop; 
}



@keyframes laptop{
    0% {transform: translate(0px);}
    10% {transform: translate(-570px);}
    24% {transform: translate(-570px);}
     26% {transform: translate(-580px);} 
  36% {transform: translate(0px);} 
}



/* ANIMACJA ZDJĘCIA PAPIERU */


.image3{
    position:relative;
    top:10px;
    left:1200px;
    animation-duration: 9s;
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    animation-name: papier; 
}



@keyframes papier{
    0% {transform: translate(0px);}
    8% {transform: translate(-800px);}
    24% {transform: translate(-800px);}
     26% {transform: translate(-810px);} 
  36% {transform: translate(0px);} 
}





/*=============================================
= ANIMACJA PRZEJSCIA KLIKNIECIA W NAZWY W PORTFOLIO            =
=============================================*/






.white-box{
    
    position: absolute;
    
    top:100%;
    z-index: 9999;
    
    width: 100%;
    height: 100%;
    background-color: #fff;
   
    
}




.white-box-animation{
    animation-duration:0.5s;
    animation-fill-mode: forwards;
    animation-name: white-box;
}




@keyframes white-box{
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
    
}


.white-box-portfolio{
    position: absolute;
    z-index: 999;
    top:0%;
    left:0px;
    width:100%;
    height: 100%;
    background-color: #fff;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode:forwards;
    animation-name: white-box-portfolio;
    
    
}



@keyframes white-box-portfolio{
    0% {transform: translateY(0%);}
    
    33% {transform: translateY(100%);}
    
    100% { opacity: 0; }
    100% {transform: translateY(100%);}
   
   
    
    
}