/*=============================================
=            Resolution min 1367px            =
=============================================*/


@media all and (min-width:1367px){

    .container-box-center{
height: 50%;
    }
    .container{
        width:80%;
    }

}



@media all and (max-width:1024px){


    .container-main{
        width:97%;
    }
    .container-box-right{
        width:40%;
        padding-right: 50px;
     }
}


/*=============================================
=            Resolution max 960px            =
=============================================*/




@media all and (max-width:960px){


    .container-main{
        width:97%;
    }
    .container-box-right{
        font-size:32px;
        width:40%;
        padding-right: 50px;
     }
     .right-info-box{
         padding-top:10px;
         font-size:14px;
         width: 90%;
     }
}





/*=============================================
=            Resolution max 480px            =
=============================================*/








@media all and (max-width:479px){

    .container{
        
        width:98%;
        height: 100%;
    }
.container-box-inbox{
    
    width: 99%;
}
.container-box-right{
    width:500%;
    
}


.right-info-box{
    width: 110%;
   
}

.small{
width:70%;
}

.container-box-center{
    height: 70%;;
}


.container-box-left{
    display:none;

}





}