
/*=============================================
=            LEGEND           =

01-RESET CSS
02-CONTAINER-MAIN 
03-HEADER
04-CONTAINER-BOX
05-FOOTER 
06-SHAPE BACKGROUND











=============================================*/



/*=====  End of LEGEND  ======*/




/* 01 RESET CSS */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	height:100%;
	margin:0px;
	
}
body {
	line-height: 1;
    height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET CSS */







/*=============================================
=02         CONTAINER-MAIN          =
=============================================*/

.container{
	display: flex;
	justify-content: center;
	width:100%;
	min-height:100%;

	background-color: black;
	color:white;
	margin:0px auto;
	padding:0px;
}

.container-main{
	display: flex;
	flex-direction: column;
	min-width: 1224px;
	max-width: 1224px;
	
}


/*=============================================
=03            HEADER            =
=============================================*/


.container-header{
display: flex;
justify-content: space-between;
align-items:center;
flex-direction: row;
height:80px;




}


/*----------  MENU  ----------*/



.container-header-menu ul{
display: flex;
justify-content: space-between;
width:150px;
text-transform: uppercase;
font-family: Geometr415LtPL;
font-size: 13px;
}

ul li{
	list-style: none;
	
}



/*----------  LOGO  ----------*/




/*=============================================
=04            CONTAINER-BOX            =
=============================================*/


.container-box{
	height: 100%;
display: flex;
justify-content: center;
flex-direction: column;





}


.container-box-inbox{
	display: flex;
	height:100%;
	flex-direction: row;

}



/*----------  LEFT  ----------*/



.container-box-left{
	display:flex;
	justify-content: center;
	align-self: center;
width:45%;

}


/*----------  CENTER  ----------*/

.container-box-center{
	display: flex;
justify-content: center;
align-self: center;
border:solid white 1px;
margin: 10px;
height: 80%;

}


/*----------  RIGHT  ----------*/



.container-box-right{
	display:flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	width:51%;;
font-family:'Evogria';
font-size:55px;

}

.right-info-box{
	font-family: Geometr415LtPL;
	font-size: 16px;
	width:450px;
}

.anim{
	display: flex;
	flex-direction: column;
}





/*=============================================
=05            FOOTER            =
=============================================*/

.container-footer-box{
	display: flex;
	align-content: flex-end;
	flex-direction: row;
	justify-content: space-between;
	font-family: Geometr415LtPL;
	font-size:10px;
	padding-bottom: 5px;
	
	
}





/*=============================================
=            SHAPE BACKGROUND            =
=============================================*/

.background-shape{
	position:absolute;
	top:20%;
	left:30%;	
	border-radius: 20%;
	background-color: darkgray;
	width:500px;
	height: 500px;
	z-index: 0;
	opacity: 0.06;
}



