
/*=============================================
=            LEGEND           =

01-RESET CSS
02-CONTAINER-MAIN 
03-HEADER
04-CONTAINER-BOX
05-FOOTER 
06-SHAPE BACKGROUND
07 BTN BUTTONS











=============================================*/



/*=====  End of LEGEND  ======*/




/* 01 RESET CSS */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	height:100%;
	margin:0px;
	
}
body {
	line-height: 1;
	height:100%;
    background-color:black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color:white;
}


/* END RESET CSS */







/*=============================================
=02         CONTAINER-MAIN          =
=============================================*/

.container{
	display: flex;
	justify-content: center;
	width:100%;
	min-height:100%;
	overflow: hidden;
	
	color:white;
	margin:0px auto;
	padding:0px;
}

.container-main{
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1224px;
	overflow: hidden;
	
}


/*=============================================
=03            HEADER            =
=============================================*/


.container-header{
display: flex;
justify-content: space-between;
align-items:center;
flex-direction: row;
height:80px;




}


/*----------  MENU  ----------*/



.container-header-menu ul{
display: flex;
justify-content: space-between;
width:150px;
text-transform: uppercase;
src:url('http://woyteka5.webd.pl/po/Geometr415LtPL-Regular.otf');
font-family: Geometr415LtPL;

font-size: 13px;
}

ul li{
	list-style: none;
	
}



/*----------  LOGO  ----------*/

.logo{
	width:80%;
	transition-duration: 0.5s;
}

.logo:hover{
	transition-duration: 0.5s;
	width:70%;
}


/*=============================================
=04            CONTAINER-BOX            =
=============================================*/


.container-box{
	height: 100%;
display: flex;
justify-content: center;
flex-direction: column;






}


.container-box-inbox{
	display: flex;
	height:100%;
	flex-direction: row;

}



/*----------  LEFT  ----------*/



.container-box-left{
	display:flex;
	justify-content: center;
	align-self: center;
width:50%;
overflow: hidden;
}





/*----------  CENTER  ----------*/

.container-box-center{
	display: flex;
justify-content: center;
align-self: center;
border:dotted white 1px;
margin: 10px;
height: 80%;

}


/*----------  RIGHT  ----------*/



.container-box-right{
	display:flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	width:51%;;
font-family:'Evogria';
src:url('http://woyteka5.webd.pl/po/Evogria.otf');
font-size:55px;
z-index: 999;


}

.portfolio-right{
	font-size:35px;	
	width:50%;
}

.but{
	cursor: pointer;
}

.but:hover{
	color:yellow;
}

.infoup{
	margin-bottom: 10px;
}





.right-info-box{
	font-family: Geometr415LtPL;
	src:url('http://woyteka5.webd.pl/po/Geometr415LtPL-Regular.otf');
	margin-top:10px;
	font-size: 16px;
	width:450px;
}

.anim{
	display: flex;
	flex-direction: column;
}










/*=============================================
=05            FOOTER            =
=============================================*/

.container-footer-box{
	display: flex;
	align-content: flex-end;
	flex-direction: row;
	justify-content: space-between;
	font-family: Geometr415LtPL;
	src:url('http://woyteka5.webd.pl/po/Geometr415LtPL-Regular.otf');
	font-size:10px;
	padding-bottom: 5px;
	
	
}





/*=============================================
=06            SHAPE BACKGROUND            =
=============================================*/

.background-shape{
	position:absolute;
	top:1%;
	left:15%;
	width:50%;
	height: 50%;	
	opacity: 0.2;
	z-index: -90;
	
}



/*=============================================
=07           BUTTONS            =
=============================================*/

.btn{
cursor: pointer;
}


.bialy{
	background-color: yellow;
}

/* button portfolio */

.line-btn{
	background-color:yellow;
	margin-top: 5px;
	height: 3px;
	width: 0px;
	opacity: 0;
	transition-duration: 0.2s;
}


.btn:hover .line-btn{
	opacity: 1;
	width: 78px;
	transition-duration: 0.2s;


}



/* button ifno */


.line-btn-info{
	background-color:yellow;
	margin-top: 5px;
	height: 3px;
	width: 0px;
	opacity: 0;
	transition-duration: 0.2s;
}



.btn:hover .line-btn-info{
	width: 33px;
	opacity: 1;
	transition-duration: 0.2s;
}




/* button home */

.line-btn-home{
	background-color:yellow;
	margin-top: 5px;
	height: 3px;
	width: 0px;
	opacity: 0;
	transition-duration: 0.2s;
}

.btn:hover .line-btn-home{
	width: 42px;
	opacity:1;
	transition-duration:0.2s;
}




/*=============================================
=08            PORTFOLIO PAGE           =
=============================================*/


.container-portfolio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	background-color: #fff;
}


.portfolio-header-menu{
	display: flex;
	justify-content:center;
	width:100%;
	height: 200px;
	background-color: black;
}

.single-portfolio-header{
	padding-top:20px;
width: 80%;
	height:50px;
	background-color:black;
	color:white;
}






.container-single-portfolio{
	display: flex;
	justify-content: center;
	z-index: 99;
	margin-top:-50px;

height: 100%;
background-color: #fff;
}


/* OBRAZKI W PORTFOLIO */

.portfolio-img{
	display: flex;
	justify-content: center;
	width:100%;
	align-self: center;
}

/* STOPKA W PORTFOLIO */

.portfolio-footer{
	width:100%;
	height: 200px;
	margin-top:-100px;
	background-color:black;
	color:white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.portfolio-footer-box{
	display: flex;
	width:80%;
	background-color:black;
	color:white;
}


.oko{
	background-color:red;
}
.right-info-box{
	z-index: 3;
}


.drewnochem{
	z-index: 1;
}

.imagea{
	display: none;
}

